.carousel-container {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.offers-loader {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.slider-container {
  background-color: #419be0;
  padding: 40px;
  width: 100%;
  height: 30vh;
}
.restaurant-list-container {
  height: 40vh;
}
